body {
    background-color: #222222;
    max-width: 100%;
    overflow-x: hidden;
  }

body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-image: url(''); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}

@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}

.slider-container {
    position: relative;
    width: 100%;
    padding: 0%;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    position: relative;
  }
  
  .slide img {
    align-items: center;
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
  }

  .slide a {
    display: block; 
    position: relative; 
  }
  
  .slide-btn {
    position: fixed;
    bottom: 85%; 
    left: 50%;
    width: 18%;
    transform: translateX(-50%);
    background-color: #9648aa;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;    
    font-optical-sizing: auto;
    font-weight: Black 900;
    font-style: normal;
    align-items: center;
    text-align: center;
    }
  
  .slide-btn:hover {
    background-color: #a05fb1;
    color: #dfd8d8;
  }

  @media screen and (max-width: 600px) {
    .slide img {
      height: auto;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1; 
    }
  }


  @media (max-width: 500px) { 
    .slide-btn { 
      font-size: 15px; 
      padding: 5px 25px;
      width: 50%;
      text-align: center;
      align-items: center;
      bottom: 75%;
    } 
  }


  .cursor {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 40px; 
    height: 40px;
    cursor: pointer;
    font-size: 90px;
    z-index: 10; 
    transition: width 0.3s, height 0.3s; 
    color: #2e2e2e5b;
  }
  
  .cursor.prev {
    left: 15px;
  }
  
  .cursor.next {
    right: 15px; 
  }
  
  @media (max-width: 570px) { 
    .cursor { 
      font-size: 40px
    } 
    
  }

/*boton*/ 
.boton-l {
  display: inline-flex;
  align-items: center;
  margin: 1px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;  
}

@media (max-width: 968px) { .boton-l { font-size: 25px; } }

@media (max-width: 570px) { .boton-l { font-size: 20px; } }

.boton-l:hover {
  color: #ffffff;
}

.icono {
  margin-right: 10px;
  font-size: 20px;
}

/*letras*/

h3{
  text-align: center;
  color: #ffffff;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

@media (max-width: 576px) { h3 { font-size: 25px; } }

h2{
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@media (max-width: 768px) { h2 { font-size: 18px; } }

@media (max-width: 576px) { h2 { font-size: 13px; } }

@media (max-width: 300px) { h2 { font-size: 10px; } }

@media (max-width: 600px) {
  .h2 {
      font-size: 15px;
      padding: 5px;
  }
}

h4{
  color: #ffffff;
  font-size: 25px;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  @media (max-width: 576px) { h4 { font-size: 20px; } }


h5{
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
}

@media (max-width: 576px) { h5 { font-size: 15px; } }

/*letras*/
h6{
  text-align: center;
  color: #ffffff;
  justify-content: center;
  font-size: 25px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 968px) { h6 { font-size: 30px; } }

@media (max-width: 570px) { h6 { font-size: 15px; } }


/*boton container*/
.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px auto;
  margin-bottom: 20px
}

/* Contenedor de botones en una fila */
.button-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}
/* Estilo de los botones */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  background-color: #9648aa;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  white-space: nowrap;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button:hover {
  background-color: #9648aa; 
  transform: scale(1.05); 
  color: #ffffff;
}

.button a {
  transform: scale(1.05); 
  color: #fffdfd;
}
.button a:hover {
  transform: scale(1.05); 
  color: #ffffff;
}

.icon {
  font-size: 18px;
  margin-right: 8px; 
  color: #ffffff;
}

@keyframes glow {
  to {
  text-shadow: 0 0 4px #aaaaaa, 0 0 8px #585858, 0 0 12px #c2c2c2, 0 0 16px #742385, 0 0 20px #742385, 0 0 24px #742385, 0 0 28px #742385;
  }
}

.comprar{
  text-shadow: 0 0 1px #e9e9e9, 0 0 2px #8a8a8a, 0 0 8px #d3d3d3, 0 0 10px #dddcdd, 0 0 10px #e4e4e4, 0 0 12px #ebebeb, 0 0 14px #e6e6e6;
  animation: glow .59s infinite alternate;
  font-size: 20px;
}

.fa-shopping-cart{
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 8px #454549, 0 0 10px #424244, 0 0 10px #424244, 0 0 12px #676768, 0 0 14px #5e5e5f;
  animation: glow .59s infinite alternate;
}
@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .button {
      width: 100%; /* Máximo ancho del botón */
      font-size: 15px;
      padding: 10px 10px;
  }

  .comprar {
    font-size: 20px;
}

  .icon {
    font-size: 15px;
}
}

/*footer*/
/* Estilos generales del contenedor */
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible dentro del max-width */
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 0 20px;
}

/* Estilos para cada columna */
.column-footer {
  flex: 1 1 30%; /* Flex-grow, flex-shrink, flex-basis */
  box-sizing: border-box;
  border: 2px solid #6e6e6e;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Pathway Gothic One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para los títulos */
.column-footer h2 {
  font-size: 23px;
  margin-bottom: 8px;
  color: #d884ff;
  align-items: center;
}

.column-footer h3 {
  font-size: 23px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #d884ff;
  text-align: center;
}

/* Estilo para los párrafos */
.column-footer p {
  font-size: 20px;
  margin: 4px 0;
  text-align: center;
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
  .column-footer {
      flex: 1 1 45%;
      padding: 5px;
      margin: 5px; /* Dos columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .column-footer {
      flex: 1 1 100%;
      padding: 5px;
      margin: 5px;
       /* Una columna en pantallas pequeñas */
  }

  .column-footer h3{
    font-size: 14px;
  }

  .column-footer h2{
    font-size: 14px;
  }

  .column-footer p{
    font-size: 14px;
  }
}

footer{
  background-color: #9648aa;
  color: #ffffff;
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*barra inferior de maquinas*/
.bottom-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #9648aa;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.bar-column {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.bar-column a {
  color: #fff;
  text-decoration: none;
}

.bar-column a:hover {
  text-decoration: underline;
}

.bar-column a:hover{
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .bottom-bar {
      display: none;
  }
}
/*presentaciones titulos*/
.title-container {
  text-align: center;
  border: 2px solid #9648aa;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #22222200;
}

.responsive-title {
  font-size: 18px ;
  display: inline-block; 
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Lexend Zetta", sans-serif;    
    font-optical-sizing: auto;
    font-weight: Black 900;
    font-style: normal;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
  .responsive-title {
      font-size: 10px;
  }
}

@media (max-width: 400px) {
  .responsive-title {
    font-size: 10px;
}
}

@media (max-width: 400px) {
  .title-container {
    border: 1px solid #9648aa;
}
}

.contenedor-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px /* Permite que los elementos se envuelvan si es necesario */
}

.contenedor-imagen2 {
  width: 100%; /* Puedes ajustar el ancho máximo según lo necesites */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.contenedor-imagen2 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Oculta la imagen pequeña por defecto */
.imagen-pequeña {
  display: none;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  /* Oculta la imagen grande en pantallas pequeñas */
  .imagen-grande {
    display: none;
  }
  
  /* Muestra la imagen pequeña en pantallas pequeñas */
  .imagen-pequeña {
    display: block;
  }
  
  /* Ajusta el contenedor para pantallas pequeñas si es necesario */
  .contenedor-imagen2 {
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho disponible */
  }
}

/*frase*/
.glow-zoom-text {
  font-size: calc(1rem + 2.5vw);
  color: #f5f5f5;
  text-align: center;
  justify-content: center;
  text-shadow:0 0 10px rgba(255, 255, 255, 0.6),
              0 0 15px rgba(255, 255, 255, 0.4),
              0 0 15px rgba(255, 255, 255, 0.4);
  animation: zoom 3s infinite alternate;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
        }

  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

  @media (max-width: 600px) {
    .glow-zoom-text {
      font-size: calc(1rem + 1vw);
  }
}

/*boton impresion*/
.print-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: center;
}

.print-title {
  font-size: 10px; /* Tamaño de fuente para el título */
  margin-bottom: 8px; /* Espacio entre el título y el botón */
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.print-btn {
  background-color: #c7c6c7;
  border-radius: 50%;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.print-btn:hover {
  background-color: #7a2c8e;
  transform: scale(1.1);
}

.print-icon {
  width: 40px;
  height: 40px;
}

/* Responsividad */
@media (max-width: 767px) {
  .print-title {
    font-size: 15px; 
  }

  .print-btn {
    display: flex;
  }
}

@media (min-width: 768px) {
  .print-btn {
    display: none;
  }

  .print-title {
    display: none; 
  }
}

@keyframes glow {
  to {
  text-shadow: 0 0 4px #aaaaaa, 0 0 8px #585858, 0 0 12px #c2c2c2, 0 0 16px #742385, 0 0 20px #742385, 0 0 24px #742385, 0 0 28px #742385;
  }
}

.print-title{
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
  animation: glow .59s infinite alternate;
}


.square {
  width: 150px;
  max-height: 100px;
  background-color: lightcoral;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin: 20px auto;

  transition-property: width;
  transition-duration: 1s;
}

.square.ttf-cubic {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.square:is(:hover, :focus) {
  width: 50%;
}


/********************************************************************/
.cont-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cont-imagen {
  width: 100%;
  height: 0;
  padding-top: 150%; /* Proporción de la imagen vertical */
  position: relative;
  overflow: hidden;
}

.cont-imagen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
}

/* Responsividad: para pantallas más pequeñas */
@media (max-width: 1200px) {
  .cont-img {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .cont-img {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cont-img {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cont-img{
    grid-template-columns: 1fr;
  }
}

/*********************************************************************/
.cont-4 {
  padding: 40px;
}

.cont-4-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
  padding: 10px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .column {
      flex: 100%;

  }
}
.images {
  display: flex;
  justify-content: space-between;
}
.images img {
  max-width: 48%; 
  height: auto;
}

h2{
  font-size: 0.7rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: left;
}

.img-logo{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5px;
  
}

.img-logo img{
  height: auto;
  width: 18%;
}

.text{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.t1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
  
}

.t2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
}

/*********************************************************/

.cont-2 {
  width: 100%;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  max-width: 1200px; 
  margin: 0 auto;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 200px;
}

.titulo {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
  font-style: normal; 
  font-weight: 600; 
}

/*************************************************************/